@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@font-face {
    font-family: "MyCustomFont";
    src: url("/fonts/MyCustomFont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
